@import url("https://fonts.googleapis.com/css2?family=Barrio&family=Inter:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: inter, "Franklin Gothic Medium", "Arial Narrow", Arial;
}

header {
  padding: 20px;
  height: 100vh;
  position: fixed;
  z-index: 100;
}
header label.hamburger {
  position: relative;
  z-index: 100;
  left: 0;
  transition: left 0.3s;
  cursor: pointer;
}
header label.hamburger div.button {
  background-color: rgba(200, 200, 200, 0.388);
  border: none;
  padding: 8px;
  max-width: 56px;
}
header label.hamburger:hover {
  background-color: rgba(80, 80, 80, 0.536);
}
header label.hamburger:hover span {
  background-color: #fff;
}
header label.hamburger span {
  display: block;
  margin-bottom: 8px;
  height: 3px;
  width: 40px;
  background-color: #000;
}
header label.hamburger span:last-child {
  margin-bottom: 0;
}
header #checkbox {
  display: none;
}
header #checkbox:checked ~ nav {
  left: 0;
}
header #checkbox:checked ~ label.hamburger {
  position: absolute;
  left: 400px;
}
header #checkbox:checked ~ label.hamburger span:nth-child(1) {
  transform: rotateZ(45deg);
  position: relative;
  top: 11px;
}
header #checkbox:checked ~ label.hamburger span:nth-child(2) {
  transform: translateX(200px);
  opacity: 0;
}
header #checkbox:checked ~ label.hamburger span:nth-child(3) {
  transform: rotateZ(-45deg);
  position: relative;
  top: -11px;
}
header nav {
  width: 500px;
  max-width: 100%;
  background-color: rgb(205, 216, 222);
  position: fixed;
  top: 0;
  left: -500px;
  height: 100vh;
  transition: left 0.3s;
}
header nav div.logo {
  padding: 20px;
  font-size: 3em;
  font-family: barrio, "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
header nav ul {
  list-style-type: none;
}
header nav ul li {
  padding: 10px;
}
header nav ul li a {
  padding: 5px;
  text-decoration: none;
  color: #222;
  font-size: 1.5em;
}
header nav ul #checkbox2 {
  display: none;
}
header nav ul #checkbox2:checked ~ .dropdown {
  padding: 5px;
  max-height: 500px;
  overflow: hidden;
}
header nav ul #checkbox2:checked ~ .dropdown::before {
  content: "";
  background: url("../up.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 15px;
  display: inline-block;
  position: absolute;
  top: 25px;
  left: 80px;
  pointer-events: none;
}
header nav ul .shop {
  position: relative;
}
header nav ul .shop label a {
  width: 100px;
  display: block;
}
header nav ul .shop .dropdown {
  max-height: 0;
  transition: max-height 0.3s;
  overflow: hidden;
  display: inline-block;
  background-color: rgb(217, 231, 238);
}
header nav ul .shop .dropdown::before {
  content: "";
  background: url("../down.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 15px;
  display: inline-block;
  position: absolute;
  top: 25px;
  left: 80px;
  pointer-events: none;
}

h1,
h2,
h3,
h4 {
  text-align: center;
}

button {
  margin: 20px 0;
  padding: 10px 60px;
  background-color: rgb(0, 0, 0);
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  font-weight: bold;
  animation: shadow 1s 0s infinite ease-in-out alternate;
  cursor: pointer;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
}
button:hover {
  color: #000;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.6);
}

main {
  display: grid;
  grid-template-columns: 1fr;
}
main div.hero {
  animation: moveUpandDown 2s 0s infinite ease-in-out alternate;
  background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.4) 100%), url(../images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: #000;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main div.hero h1 {
  font-family: "Barrio", "Arial Narrow", cursive;
  font-size: 6em;
}
@media screen and (max-width: 720px) {
  main div.hero h1 {
    font-size: 3em;
  }
}
main div.hero h2 {
  font-family: "Barrio", "Arial Narrow", cursive;
  font-size: 2.5em;
  padding: 20px 0;
}
@media screen and (max-width: 720px) {
  main div.hero h2 {
    font-size: 1.5em;
  }
}
main div.hero p {
  padding: 2% 0;
  max-width: 500px;
}
main div.section2 {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 20px;
  text-align: center;
}
main div.section2 .product-image {
  width: 300px;
}
main div.section2 .stars {
  display: flex;
  align-items: center;
  justify-content: center;
}
main div.section2 .stars strong {
  padding: 20px;
}
main div.section2 .stars img {
  width: 25px;
}
main div.section3 {
  background-color: #eff9ff;
  padding: 20px;
}
@media screen and (max-width: 900px) {
  main div.section3 {
    grid-column: span 1;
  }
}
main div.section3 h2 {
  font-family: "Barrio", "Arial Narrow", cursive;
  font-size: 2.5em;
  padding: 20px;
}
main div.section3 div.features {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
main div.section3 div.features div {
  text-align: center;
}
main div.section3 div.features div img {
  height: 100px;
  padding: 20px;
}
main div.section4 {
  text-align: center;
  padding: 20px;
}
@media screen and (max-width: 900px) {
  main div.section4 {
    grid-column: span 1;
  }
}
main div.section4 h2 {
  font-family: "Barrio", "Arial Narrow", cursive;
  font-size: 2.5em;
  padding: 20px;
}
main div.section4 .stars {
  padding: 20px;
}
main div.section4 .stars strong {
  padding: 10px;
}
main div.section4 .stars img {
  height: 30px;
  vertical-align: bottom;
}
main div.section4 .reviews {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -moz-column-gap: 40px;
       column-gap: 40px;
  padding: 20px;
}
@media screen and (max-width: 900px) {
  main div.section4 .reviews {
    grid-template-columns: 1fr;
  }
}
main div.section4 .reviews h3 {
  padding: 20px;
}
main div.section4 .reviews p {
  max-width: 300px;
  margin: auto;
  text-align: left;
}

footer {
  text-align: center;
  background-color: #242525;
  padding: 20px;
  color: #fff;
  width: 100%;
}

@keyframes moveUpandDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(20px);
  }
}
@keyframes shadow {
  0% {
    transform: scale(102%);
    box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.537254902);
  }
  100% {
    box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.7215686275);
  }
}/*# sourceMappingURL=vanilla.css.map */