@import url('https://fonts.googleapis.com/css2?family=Barrio&family=Inter:wght@400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: inter, 'Franklin Gothic Medium', 'Arial Narrow', Arial;
}

header {
  padding: 20px;
  label.hamburger {
    position: relative;
    z-index: 100;
    left: 0;
    transition: left 0.3s;
    cursor: pointer;
    div.button {
      background-color: rgba(200, 200, 200, 0.388);
      border: none;
      padding: 8px;
      max-width: 56px;
    }
    &:hover {
      background-color: rgba(80, 80, 80, 0.536);
      span {
        background-color: #fff;
      }
    }
    span {
      display: block;
      margin-bottom: 8px;
      height: 3px;
      width: 40px;
      background-color: #000;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  #checkbox {
    display: none;
    &:checked {
      ~ nav {
        left: 0;
      }
      ~ label.hamburger {
        position: absolute;
        left: 400px;
        span:nth-child(1) {
          transform: rotateZ(45deg);
          position: relative;
          top: 11px;
        }
        span:nth-child(2) {
          transform: translateX(200px);
          opacity: 0;
        }
        span:nth-child(3) {
          transform: rotateZ(-45deg);
          position: relative;
          top: -11px;
        }
      }
    }
  }

  nav {
    width: 500px;
    max-width: 100%;
    background-color: rgb(205, 216, 222);
    position: absolute;
    top: 0;
    left: -500px;
    height: 100vh;
    transition: left 0.3s;
    div.logo {
      padding: 20px;
      font-size: 3em;
      font-family: barrio, 'Franklin Gothic Medium', 'Arial Narrow', Arial,
        sans-serif;
    }
    ul {
      list-style-type: none;
      li {
        padding: 10px;
        a {
          padding: 5px;
          text-decoration: none;
          color: #222;
          font-size: 1.5em;
        }
      }
      #checkbox2 {
        display: none;
        &:checked {
          ~ .dropdown {
            padding: 5px;
            max-height: 500px;
            overflow: hidden;
            &::before {
              content: '';
              background: url('../up.svg');
              background-repeat: no-repeat;
              background-position: center;
              width: 20px;
              height: 15px;
              display: inline-block;
              position: absolute;
              top: 25px;
              left: 80px;
              pointer-events: none;
            }
          }
        }
      }
      .shop {
        position: relative;
        label {
          a {
            width: 100px;
            display: block;
          }
        }
        .dropdown {
          &::before {
            content: '';
            background: url('../down.svg');
            background-repeat: no-repeat;
            background-position: center;
            width: 20px;
            height: 15px;
            display: inline-block;
            position: absolute;
            top: 25px;
            left: 80px;
            pointer-events: none;
          }
          max-height: 0;
          transition: max-height 0.3s;
          overflow: hidden;
          display: inline-block;
          background-color: rgb(217, 231, 238);
        }
      }
    }
  }
}

// -----------------------------------------header end---------------------------------------

h1,
h2,
h3,
h4 {
  text-align: center;
}
button {
  margin: 20px 0;
  padding: 10px 60px;
  background-color: rgb(0, 0, 0);
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
  &:hover {
    color: #000;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.6);
  }
}
main {
  display: grid;
  grid-template-columns: 1fr;
  @media screen and (max-width: 900px) {
    grid-template-columns: 1fr;
  }
  div.hero {
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 0.4) 100%
      ),
      url(../images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #000;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1 {
      font-family: 'Barrio', 'Arial Narrow', cursive;
      font-size: 6em;
      @media screen and (max-width: 720px) {
        font-size: 3em;
      }
    }
    h2 {
      font-family: 'Barrio', 'Arial Narrow', cursive;
      font-size: 2.5em;
      padding: 20px 0;
      @media screen and (max-width: 720px) {
        font-size: 1.5em;
      }
    }
    p {
      padding: 2% 0;
      max-width: 500px;
    }
  }
  div.section2 {
    grid-column: span 2;
    background-color: #eff9ff;
    padding: 20px;
    @media screen and (max-width: 900px) {
      grid-column: span 1;
    }
    h2 {
      font-family: 'Barrio', 'Arial Narrow', cursive;
      font-size: 2.5em;
      padding: 20px;
    }
    div.features {
      padding: 20px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 30px;
      @media screen and (max-width: 900px) {
        grid-template-columns: 1fr;
      }
      div {
        text-align: center;
        img {
          height: 120px;
          padding: 20px;
        }
      }
    }
  }
  div.section3 {
    text-align: center;
    grid-column: span 2;
    padding: 20px;
    @media screen and (max-width: 900px) {
      grid-column: span 1;
    }
    h2 {
      font-family: 'Barrio', 'Arial Narrow', cursive;
      font-size: 2.5em;
      padding: 20px;
    }
    .stars {
      padding: 20px;
      strong {
        padding: 10px;
      }
      img {
        height: 30px;
        vertical-align: bottom;
      }
    }
    .reviews {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 40px;
      padding: 20px;
      @media screen and (max-width: 900px) {
        grid-template-columns: 1fr;
      }
      h3 {
        padding: 20px;
      }
      p {
        max-width: 300px;
        margin: auto;
        text-align: left;
      }
    }
  }
}
footer {
  text-align: center;
  background-color: #242525;
  padding: 20px;
  color: #fff;
  width: 100%;
}
