body {
  background-color: #f1e7cb;
  background-image: url(../images/oldpaper.jpg);
}

$blue: #0d6efd;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #d63384;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #198754;
$teal: #20c997;
$cyan: #0dcaf0;
$oldPaper: rgb(250, 245, 205);

:root {
  --oldPaper: rgb(255, 220, 183);
  --blue: #0d6efd;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #d63384;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #198754;
  --teal: #20c997;
  --cyan: #0dcaf0;
  --oldPaper: rgb(250, 245, 205);
  --red: #dc3545;
}

header {
  text-align: center;
}
main {
  .gallery {
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .carousel-inner {
    .carousel-item {
      background-color: $oldPaper;
      .carousel-caption {
        background-color: #ffffffc2;
      }
      img.d-block {
        height: 600px;
      }
    }
  }
}
