* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  div {
    mask-image: url(../images/wave.svg);
    mask-size: 20px;
    height: 100vh;
    background-size: cover;
    background-image: url(../images/dk911turbo_mushroom_background_colorful_top_view_assortment_bri_c62d2f1c-e2d6-4c40-b6ed-39299eef6b0b.png);
  }

  p {
    color: #000;
  }
}
